.contact {
	@extend %section-padding;
	padding-top: 4%;
	padding-bottom: 5%;

	&__row {
	}

	&__box {
	}

	&__heading {
		@include section-heading($maire, 1.5%);
	}

	&__copy {
		@extend %copy;
		color: $maire;
	}

	&__social-row {
	}

	&__icon {
	}
}
