.heading {
	font-size: 5.5rem;
	font-weight: 800;
	margin-bottom: 2%;

	@media only screen and (max-width: 1150px) {
		font-size: 5rem;
	}

	@media #{$tabletMedium} {
		font-size: 4.5rem;
	}

	@media #{$tabletPortrait} {
		font-size: 4rem;
	}

	@media #{$mobileMedium} {
		font-size: 3.5rem;
	}

	@media #{$mobileSmall} {
		font-size: 3rem;
	}
}
