.nav {
	@extend %flex-justify-center;
	position: absolute;
	top: 2.5%;
	left: 50%;
	transform: translateX(-50%);

	&__list {
		@extend %flex-align-center;
		color: $maire;
	}

	&__item {
		cursor: pointer;
		font-size: 2rem;
		font-weight: 600;
		margin: 0 1.5rem;
		position: relative;
		transition: $transitionSmooth;

		&:hover {
			color: $blueLagoon;
		}

		&:not(:last-of-type) {
			&::after {
				@include size(3rem, 1px);
				@extend %pseudo;
				top: 62.5%;
				right: -1.5rem;
				transform: translateY(-50%);
				background-color: $maire;
			}
		}

		@media #{$tabletPortrait} {
			font-size: 1.5rem;
			margin-top: 3%;
		}
	}
}
