.project-card {
	@extend %rounded-border-with-subtle-box-shadow;
	color: $maire;
	flex: 0 1 32%;
	margin-bottom: 3%;
	overflow-x: hidden;
	transition: $transitionSmooth;

	&:hover {
		transform: scale(1.02);
	}

	&:not(:nth-child(3n)) {
		margin-right: auto;

		@media #{$tabletLandscape} {
			margin-right: 0;
		}
	}

	&:nth-child(odd) {
		@media #{$tabletLandscape} {
			margin-right: auto;
		}
	}

	@media #{$tabletLandscape} {
		flex: 0 1 48%;
	}

	@media #{$tabletPortrait} {
		flex: 1 1 100%;
	}

	@media #{$mobileMedium} {
		margin-bottom: 5%;
	}

	// &__thumbnail {
	// }

	&__inner {
		padding: 3% 4% 4.5% 4%;
	}

	&__title {
		color: $blueLagoon;
		font: 600 2.625rem/1.15 $fontSegoe;
		margin-bottom: 2.5%;

		@media #{$desktopSmall} {
			font-size: 2.5rem;
		}

		@media #{$tabletLandscape} {
			font-size: 2.375rem;
		}
	}

	&__tech {
		font-size: 1.125rem;
	}

	&__summary {
		@extend %copy;
		margin: 3.5% 0;
	}

	&__icon-row {
		@extend %flex-align-center;
	}

	&__link {
		&:not(:last-of-type) {
			margin-right: 2.5%;
		}
	}

	&__icon {
		transition: $transitionSmooth;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				transform: translateY(-0.25rem);
			}
		}
	}
}
