.projects {
	@extend %section-padding;
	margin: 3.5% 0;

	&__heading {
		@include section-heading($maire, 3.5%);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
