.pc {
	border-radius: 1.5rem;
	box-shadow: $subtleBoxShadow;
	overflow: hidden;
	position: relative;
	transition: $transitionSmoothMedium;
	backface-visibility: hidden;

	@media (hover) {
		&:hover,
		&:active,
		&:focus {
			box-shadow: 0 0.75rem 1rem 0 rgba(0, 0, 0, 0.25);
			transform: translateY(-0.25rem);

			.pc__overlay {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	// &__thumbnail {
	// }

	&__overlay {
		@include size(100%);
		@extend %flexAlignAndJustifyCenter;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.75);
		color: $white;
		opacity: 0;
		pointer-events: none;
		text-align: center;
		transition: $transitionSmoothMedium;

		@media #{$tabletLandscape} {
			background-color: $charcoal;
			display: block;
			opacity: 1;
			padding: 5% 0;
			position: static;
		}
	}

	&__inner {
		width: 80%;

		@media #{$tabletLandscape} {
			margin: $marginCenter;
		}
	}

	&__title {
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 2.5%;
		line-height: 1.33;

		@media #{$tabletLandscape} {
			font-size: 2.375rem;
			line-height: 1.15;
			margin-bottom: 5%;
		}
	}

	&__tech {
		font-size: 1.125rem;
		line-height: 1.5;
	}

	&__summary {
		font-size: 1.125rem;
		line-height: 1.25;
		margin: 2.5% 0;

		@media #{$tabletLandscape} {
			margin: 5% 0;
		}
	}

	// &__icon-row {
	// }

	&__link {
		&:first-of-type {
			margin-right: 1.5%;
		}

		&:last-of-type {
			margin-left: 1.5%;
		}
	}

	&__icon {
		transition: $transitionSmooth;

		@media (hover) {
			&:hover,
			&:active,
			&:focus {
				opacity: 0.75;
			}
		}
	}
}
