.tool {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 3% 0 0 auto;
	width: 70%;

	@media #{$desktopSmall} {
		width: 90%;
	}

	@media #{$tabletPortrait} {
		justify-content: flex-start;
		margin-left: 0;
	}

	@media #{$mobileMedium} {
		width: 100%;
	}

	&__text {
		@extend %copy;
		background-color: $lightCyan;
		border-radius: 4rem;
		box-shadow: $subtleBoxShadow;
		color: $maire;
		font-weight: 600;
		margin: 1.5%;
		padding: 1% 4%;

		@media #{$tabletPortrait} {
			margin: 2% 2% 2% 0;
		}
	}
}
