$colors: (
	white-smoke: $whiteSmoke,
	light-cyan: $lightCyan,
	blue-lagoon: $blueLagoon,
	space-shuttle: $spaceShuttle,
	maire: $maire
);

@each $name, $color in $colors {
	.text-#{$name} {
		color: $color;
	}
}

$icon-sizes: (
	small: 2.25rem,
	medium: 2.75rem,
	large: 3.25rem
);

@each $name, $size in $icon-sizes {
	.icon-#{$name} {
		font-size: $size;
	}
}
