@mixin flex($jc, $ai) {
	display: flex;
	align-items: $ai;
	justify-content: $jc;
}

@mixin size($h, $w: $h) {
	height: $h;
	width: $w;
}

@mixin heroHeading($c, $s, $w) {
	color: $c;
	font-size: $s;
	font-weight: $w;
}

@mixin sectionHeading($c, $m, $s: 5.5rem, $w: 800) {
	color: $c;
	font-size: $s;
	font-weight: $w;
	margin-bottom: $m;
}
