@mixin flex($justify-content, $align-items) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
}

@mixin size($height, $width: $height) {
	height: $height;
	width: $width;
}

@mixin hero-heading($color, $size, $weight) {
	color: $color;
	font-size: $size;
	font-weight: $weight;
}

@mixin section-heading($color, $margin, $size: 5.5rem, $weight: 800) {
	color: $color;
	font-size: $size;
	font-weight: $weight;
	margin-bottom: $margin;
}
