@import 'variables';

%pseudo {
	content: '';
	position: absolute;
}

%flexAlignCenter {
	display: flex;
	align-items: center;
}

%flexJustifyCenter {
	display: flex;
	justify-content: center;
}

%flexAlignAndJustifyCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

%sectionPadding {
	padding-left: 7%;
	padding-right: 7%;

	@media #{$desktopSmall} {
		padding-left: 5.5%;
		padding-right: 5.5%;
	}
}

%copy {
	font-size: 1.375rem;
	line-height: 1.4;
}

%roundedBorderWithSubtleBoxShadow {
	border: 1px solid $maire;
	border-radius: 1rem;
	box-shadow: $subtleBoxShadow;
}
