@import 'variables';

%pseudo {
	content: '';
	position: absolute;
}

%flex-align-center {
	display: flex;
	align-items: center;
}

%flex-justify-center {
	display: flex;
	justify-content: center;
}

%section-padding {
	padding-left: 7%;
	padding-right: 7%;

	@media #{$desktopSmall} {
		padding-left: 5.5%;
		padding-right: 5.5%;
	}
}

%copy {
	font-size: 1.375rem;
	line-height: 1.4;
}

%rounded-border-with-subtle-box-shadow {
	border: 1px solid $maire;
	border-radius: 1rem;
	box-shadow: $subtleBoxShadow;
}
