// Fonts
$fontSegoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Shades
$white: #fff;
$whiteSmoke: #efefef;
$black: #000;

// Colors
$lightCyan: #cbfafa;
$blueLagoon: #046182;
$maire: #2b2a24;

// General/UI
$bumperPadding: 0 1rem;
$flexFiftyFifty: 1 1 50%;
$marginCenter: 0 auto;
$subtleBoxShadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
$transitionSmooth: all 175ms ease-in-out;
$transitionSmoothResize: all 250ms ease-in-out;
$transitionSmoothLong: all 500ms ease-in-out;

// Breakpoints
$desktop4k: 'only screen and (min-width: 3840px)';
$desktop1440p: 'only screen and (max-width: 2560px)';
$desktopHd: 'only screen and (max-width: 1920px)';
$desktopMedium: 'only screen and (max-width: 1680px)';
$desktopSmall: 'only screen and (max-width: 1440px)';
$laptop: 'only screen and (max-width: 1366px)';
$laptopSmall: 'only screen and (max-width: 1280px)';
$tabletLandscape: 'only screen and (max-width: 1024px)';
$tabletMedium: 'only screen and (max-width: 900px)';
$tabletPortrait: 'only screen and (max-width: 768px)';
$mobileXlarge: 'only screen and (max-width: 640px)';
$mobileLarge: 'only screen and (max-width: 576px)';
$mobileMedium: 'only screen and (max-width: 480px)';
$mobileSmall: 'only screen and (max-width: 415px)';
$mobileXsmall: 'only screen and (max-width: 375px)';
$mobileTiny: 'only screen and (max-width: 325px)';
