.nav__item:not(:last-of-type)::after {
  content: '';
  position: absolute;
}

.about__row, .nav__list, .project-card__header, .project-card__icon-row {
  display: flex;
  align-items: center;
}

.about, .contact, .projects {
  padding-left: 7%;
  padding-right: 7%;
}

@media only screen and (max-width: 1440px) {
  .about, .contact, .projects {
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}

@media only screen and (max-width: 1280px) {
  .about, .contact, .projects {
    padding-left: 4%;
    padding-right: 4%;
  }
}

.about__copy, .contact__copy, .project-card__summary, .tool__text {
  font-size: 1.375rem;
  line-height: 1.4;
}

html {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 75%;
  }
}

body {
  line-height: 1;
  text-transform: lowercase;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
  zoom: 1;
}

.about {
  background-color: #046182;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  padding-top: 11%;
  padding-bottom: 10%;
}

.about__box {
  flex: 1 1 50%;
}

.about__box:last-of-type {
  text-align: right;
}

.about__image {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.about__heading {
  color: #efefef;
  font-size: 5.5rem;
  font-weight: 800;
  margin-bottom: 1%;
}

.about__heading:last-of-type {
  margin-top: 3.5%;
}

.about__copy {
  color: #efefef;
}

.about__copy:first-of-type {
  margin-bottom: 2.5%;
}

.contact {
  padding-top: 4%;
  padding-bottom: 5%;
}

.contact__heading {
  color: #2b2a24;
  font-size: 5.5rem;
  font-weight: 800;
  margin-bottom: 1.5%;
}

.contact__copy {
  color: #2b2a24;
}

.footer {
  background-color: #2b2a24;
  color: #efefef;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  font-size: 2rem;
  font-weight: 600;
  padding: 5% 0 4% 0;
  text-align: center;
}

.hero {
  background-color: #cbfafa;
  position: relative;
}

.hero__background {
  height: 100vh;
  margin-left: auto;
}

.hero__heading {
  position: absolute;
  top: 18%;
  left: 6.5%;
  text-align: right;
}

.hero__heading-name {
  color: #2b2a24;
  font-size: 6.5rem;
  font-weight: 800;
}

.hero__heading-role {
  color: #046182;
  font-size: 4.25rem;
  font-weight: 600;
}

.hero__secret {
  position: absolute;
  bottom: 31%;
  right: 23%;
  transform: rotate(-36deg);
  cursor: default;
  opacity: 0;
  transition: all 175ms ease-in-out;
}

@media (hover) {
  .hero__secret:hover {
    opacity: 1;
  }
}

.nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
}

.nav__list {
  color: #2b2a24;
}

.nav__item {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 1.5rem;
  position: relative;
  transition: all 175ms ease-in-out;
}

.nav__item:hover {
  color: #046182;
}

.nav__item:not(:last-of-type)::after {
  height: 3rem;
  width: 1px;
  top: 62.5%;
  right: -1.5rem;
  transform: translateY(-50%);
  background-color: #2b2a24;
}

.project-card {
  border: 1px solid #2b2a24;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
  color: #2b2a24;
  flex: 0 1 48.5%;
  margin-bottom: 3%;
  padding: 2.5% 2%;
}

.project-card__thumbnail {
  border-radius: 0.5rem;
  transition: all 175ms ease-in-out;
  width: 9rem;
}

.project-card__header-inner {
  margin-left: 2%;
}

.project-card__title {
  color: #046182;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.5%;
}

.project-card__tech span:not(:last-of-type) {
  margin-right: 1%;
}

.project-card__summary {
  margin: 3.5% 0;
}

.project-card__link:not(:last-of-type) {
  margin-right: 2.5%;
}

.project-card__icon {
  color: #2b2a24;
  font-size: 2.125rem;
  transition: all 175ms ease-in-out;
}

@media (hover) {
  .project-card__icon:hover, .project-card__icon:active, .project-card__icon:focus {
    color: #046182;
  }
}

.projects {
  margin: 3.5% 0;
}

.projects__heading {
  color: #2b2a24;
  font-size: 5.5rem;
  font-weight: 800;
  margin-bottom: 3.5%;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tool {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 3% 0 0 auto;
  width: 75%;
}

.tool__text {
  background-color: #cbfafa;
  border-radius: 4rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);
  color: #2b2a24;
  font-weight: 600;
  margin: 1.5%;
  padding: 1% 4%;
}
/*# sourceMappingURL=app.css.map */